<div class="container-fluid">
  <div class="card" style="width: 18rem;">
    <h1>短網址產生器</h1>
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" class="card-img-top" alt="...">
    
    <div class="card-body translation">
      {{!-- 如果有 pathCode"表示有五碼"，進入顯示複製部分 --}}
      {{#if pathCode}}
        <h5 class="card-title">Successs! Please use this link </h5>
        <p class="card-text" id="urlPath">http://localhost:3000/shorts/{{pathCode}}/</p>
        <button class="btn btn-success translation" id="copyBtn" >點擊複製</button>
      {{else}}
        {{!-- 如果 error 存在，顯示"請重新輸入" --}}
        {{#if error}}
          <form action="/" method="POST">
          <p class="card-text">{{error}}</p>
          <input name="Unshort" type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
          
          <button type="submit" class="btn btn-primary translation">
            shorten
          </button>
        </form>
        {{!-- 如果都沒有 --}}
          {{else}}
        <form action="/" method="POST">
          <input name="Unshort" type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
          
          <button type="submit" class="btn btn-primary translation">
            shorten
          </button>
        </form>
        {{/if}}
      {{/if}}
      
        
    </div>
  </div>


</div>