<div class="container-fluid">
    <div class="card  justify-content-center" style="width: 18rem;">
        <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Successs! Please use this link </h5>
            <p class="card-text">{{shorts.url}}</p>
            
        </div>
    </div>
</div>