*{
  padding: 0;
  margin: 0;
}

.translation{
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

/* .translation button{
  display: block;
  justify-content: center;
} */