*{
  padding: 0;
  margin: 0;
}

.translation{
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  
}
.card-text{
  text-align: center;
  color: red;
}

.card{
  /* position: absolute; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  /* border: 5px solid red; */
}


.card-text{
  font-size: 15px;
}

img{
  padding: 50px;
}
